* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 28px;
}

h2 {
    padding-left: 10px;
}

.header {
    display: flex;
    background-color: rgb(3, 218, 210);
    margin: 0;
    position: sticky;
}

#header-link {
    padding-top: 28px;
    padding-right: 50px;
    display: flex;
    justify-content: right;
    flex-grow: 1;
}

.nav-item {
    margin-left: 20px;
    font-size: 1.2em; 
    font-weight: bold; 
    text-decoration: none;
    color: black;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

.main {
    box-sizing: border-box;
    display:inline-flex;
    text-align: justify;
}

.main-text {
    line-height: 2;
    height: auto;
    width: auto;
    display: inline-flex;
    
}

.main-text img {
    float: left;

}