* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header, .footer, a {
    color: #ffffff;
}

h1 {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 28px;
}

h2 {
    padding-top: 10px;
    padding-left: 10px;
}

body {
    background-color: 	#eaebfe;
}

.header {
    display: flex;
    background-color: #022954;
    margin: 0;
    position: sticky;
}

.header img {
    margin-top: 20px;
}

#header-link {
    padding-top: 28px;
    padding-right: 50px;
    display: flex;
    justify-content: right;
    flex-grow: 1;
}

.nav-item {
    margin-left: 20px;
    font-size: 1.3em; 
    font-weight: bold; 
    text-decoration: none;
    color: #ffffff;
}

.main {
    padding: 15px;
    box-sizing: border-box;
    display:flex;
}

.main-text {
    line-height: 2;
    height: auto;
    width: auto;
}

.main-text img {
    float: left;
}

.aside {
    width: 750px;
    padding:10px;
    font-size: 15px;
    line-height: 2;
    background-color: #b0b8ce;
    border-radius: 20px;
    margin: 10px;
    height: fit-content;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

#font {
    font-size: larger;
}

#left_frame {
    width: 25%;
    height: 100%;
    top: 57px;
    left: 0;
    position: fixed;
}

#right_frame {
    width: 75%;
    height: 100%;
    top: 57px;
    right: 0;
    position: fixed;
}

.footer {
    background-color: #022954;
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.restaurant {
    padding: 15px;
    box-sizing: border-box;
    display:flex;
}

.food {
    display: flex;
    padding: 20px;
    gap: 40px;
}